// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  font-size: 1.5em;
  line-height: 1.8em;
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 1em;
    line-height: 1.3em;
  }
}

input[type=number], input[type=text], textarea {
  font-size: 1em;
  padding: .25em;
  text-align: center;
}

input[type=text], textarea {
  text-align: left;
  width: 100%;
}

input[type=range] {
  width: 50%;
}

input[type=submit] {
  padding: 0.5em;
  font-size: 1em;
}

#occupants-number {
  width: 3em;
}

.details {
  // margin-left: 1em;
  padding: .5em;
  background: #eee;
}


ol#housemates {
  list-style: none;
  padding: 0;
  counter-reset: housemate-counter;
  margin-bottom: 2em;
}
ol#housemates li {
  counter-increment: housemate-counter;
  margin: 0;
}
ol#housemates li::before {
  content: "Person " counter(housemate-counter) ;
}
